title="Front Wheel Upright"
description="The part that holds the front axel and spindle and attaches to the front steering rod and mount."
statistics="Axel Size : M5 x 30mm","Bearing Size : 5x10x4mm"
associated="110101","110301"
dependencies="110101","110301"
type="3D Printed File"
tags=".STL"
image="/icon.png"
links="More;"
downloads=".STL;%tooltip_stl%"