title="Mamba Micro X2 1/18 Scale ESC w/0808-5300Kv Brushless Motor "
type="$124.95"
tags="Amazon"
image="/icon.jpg"
links="Buy;https://www.amazon.com/Castle-Creations-Mamba-0808-5300Kv-Brushless/dp/B0BG6B721C/ref=sr_1_2?crid=1VXE9U2FIEKY7&keywords=castle+creations+0808&qid=1683139493&s=toys-and-games&sprefix=castle+creations+0808%2Ctoys-and-games%2C122&sr=1-2"