title="Bearing Bushing"
description="Goes inbetween the bushing and the driveshaft to provide a tight fit between the driveshaft and bearings."
statistics="Bearing Size : 5x10x4mm","Axel Size : 1/8 Square Bar Stock"
associated="210301"
dependencies="210101","210201"
type="3D Printed File"
tags=".STL"
image="/icon.png"
links="More;"
downloads=".STL;%tooltip_stl%"