title="Rear Drivetrain"
description="The parts you need to make or buy to build a rear drivetrain for your car."
estimated cost="Estimated Cost - $156.02 Before filament"
figures="Wheel Hex Size : 12mm"
parts="1:10 Scale Wheel : 2x","5x10x4mm Bearing : 2x", "M2x5mm Screw : At least 2x","1/8 Square Bar Stock : At Least 6in.","Motor : 1x"
dependencies="210101","210201","210401","GB01","D210101", "D210201"
associated="GW01","GM01","210301","A310001"
type="Assembly"
tags="Starter"
image="/icon.jpg"
extra images="#./public/store/210101/icon.png","#./public/store/210201/icon.png", "#./public/store/210301/icon.png", "#./public/store/210401/icon.png"
links="More;"