title="Front Wheel Spindle"
description="The part that mounts into the inside of the wheel and has bearings so the wheel can spin freely."
statistics="Hex Size : 12mm","Bearing Size : 5x10x4mm"
associated="110201","110301"
dependencies="110201","110301"
type="3D Printed File"
tags=".STL"
image="/icon.png"
links="More;"
downloads=".STL;%tooltip_stl%  192KB⊳05-02-2023"