2024 & 2025 Solar Derby Starter Guide
/public/guide-docs/24-25-guide/
"Guide" src="heading"
"Getting Started" src="getting-started.html"
"Motor" src="motor/main.html"
-"Guide" src="motor/guide.html"
"ESC" src="esc.html"
-"Battery" src="battery.html"
"Solar Panels" src="solar-panels/main.html"
-"Guide" src="solar-panels/guide.html
-"Wiring" src="solar-panels/wiring.html
"Steering" src="steering/main.html"
-"Uprights" src="steering/uprights.html"
-"Axels" src="steering/axels.html"
-"Ackerman" src="steering/ackerman.html"
-"Servos" src="steering/servos.html"
-"Tuning" src="steering/tuning.html"