title="Front Bracket"
description="The part that connects the front steering upright to the car body."
statistics="Axel Size : M5 x 30mm"
associated="110101","110201"
dependencies="110101","110201"
type="3D Printed File"
tags=".STL"
image="/icon.png"
links="More;"
downloads=".STL;/downloads/110301.STL;A file type that is ready to print with most printing software."