title="Rear Bracket"
description="The part that connects the motor and the rear axel together."
figures="Axel Size : 1/8 Square Bar Stock"
parts="1/8 Square Bar Stock : At Least 6in."
associated="A210001","GW01"
dependencies="GB01"
type="3D Printed File"
tags=".STL"
image="/icon.png"
links="More;"
downloads=".STL;%tooltip_license% %tooltip_stl%  1.79MB⊳05-02-2023"