title="Aluminum 1/8 to 2mm Pinion Reducer Sleeve "
type="$7.30"
tags="Amazon"
image="/icon.jpg"
links="Buy;https://www.amazon.com/Hot-Racing-CSG182R08-Conversion-Sleeve/dp/B00XF8AUV8/ref=d_pd_sbs_vft_none_sccl_4_1/133-4294824-8901503?pd_rd_w=IKfHM&content-id=amzn1.sym.1e7a0ba4-f11f-4432-b7d8-1aaa3945be18&pf_rd_p=1e7a0ba4-f11f-4432-b7d8-1aaa3945be18&pf_rd_r=FK5QSYHFAQG7H3CWG4M8&pd_rd_wg=9gNfx&pd_rd_r=2223a3e2-794e-43c6-8a06-d66b0f8406eb&pd_rd_i=B00XF8AUV8&psc=1"