title="Template"
description="The description cannot contain any commas because they seperate different parts of the line."
estimated cost="Estimated Cost - $1.000.000"
figures="Template : Yep","Another Line : ?"
parts="Brain Damage : 1x","Mavis Beakon : 1x"
associated="Template","110101"
dependencies="110201","110301"
type="Empty Template"
tags="Template",".STL","Other Tags"
image="/icon.png"
extra images="https://ik.imagekit.io/demo/medium_cafe_B1iTdD0C.jpg","https://www.w3schools.com/html/pic_trulli.jpg","https://www.w3schools.com/html/img_chania.jpg"
links="More;"
downloads=".STL;%tooltip_license% %tooltip_stl%  192KB⊳05-02-2023"