title="FS-GT3B Radio Transmitter & FS-GR3E Receiver"
type="$49.90"
tags="Amazon"
image="/icon.jpg"
links="Buy;https://www.amazon.com/FlySky-FS-GT3B-Digital-Transmitter-RC/dp/B005PS59CG/ref=sxin_16_pa_sp_search_thematic_sspa?content-id=amzn1.sym.0d1c700c-e1d2-4868-bb74-aab2cf22d2e7%3Aamzn1.sym.0d1c700c-e1d2-4868-bb74-aab2cf22d2e7&crid=2P6FM7TMDDEPH&cv_ct_cx=fly+sky&keywords=fly+sky&pd_rd_i=B005PS59CG&pd_rd_r=b805abf1-2f58-409b-a160-c229c452a03a&pd_rd_w=o5AhI&pd_rd_wg=WIpAB&pf_rd_p=0d1c700c-e1d2-4868-bb74-aab2cf22d2e7&pf_rd_r=CWJFY9XGANMVZEVGQEKX&qid=1683142376&sbo=RZvfv%2F%2FHxDF%2BO5021pAnSA%3D%3D&sprefix=fly+sky%2Caps%2C141&sr=1-1-f198e6a3-f8ba-40fc-adb1-ef5348fd130e-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFQSDJMQzdKVjRURk8mZW5jcnlwdGVkSWQ9QTA5NDI5MTQzMjg2Mk9SUThaRkREJmVuY3J5cHRlZEFkSWQ9QTA1NjA1NzQyS1kwWEpRU1kxQU5ZJndpZGdldE5hbWU9c3Bfc2VhcmNoX3RoZW1hdGljJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ=="