title="Bearing Bushing"
description="Goes inbetween the bushing and the driveshaft to provide a tight fit between the driveshaft and bearings."
figures="Axel Size : 1/8 Square Bar Stock"
associated="A210001"
type="3D Printed File"
tags=".STL"
image="/icon.png"
links="More;"
downloads=".STL;%tooltip_stl%  13KB⊳05-02-2023"