title="Pinion Gear"
description="Attaches to the motor to slow the high speed motor rotation into usable higher torque movement. Recommended that you buy a metal one from amazon."
figures="Axel Size : 1/8 Square Bar Stock"
associated="A210001"
type="3D Printed File"
tags=".STL"
image="/icon.png"
links="More;"
downloads=".STL;%tooltip_stl%  1.50MB⊳05-02-2023"