title="4x 1/10 Scale Wheels - 12mm Hex Hub"
type="$9.97"
tags="Amazon"
image="/icon.jpg"
links="Buy;https://www.amazon.com/4PCS-Width-Rubber-Vehicle-Touring/dp/B079MF7JT6/ref=sr_1_25?crid=2TGUX02BBTUSW&keywords=1%2F10+scale+rc+car+wheels&qid=1680888631&s=toys-and-games&sprefix=1%2F10+scale+rc+car+wheels%2Ctoys-and-games%2C172&sr=1-25"