title="Front Steering"
description="The parts you need to make or buy to build your front steering. This is only for one side of the front steering<-.> for two sides double every part."
estimated cost="Estimated Cost - $6.79 Before filament"
figures="Wheel Hex Size : 12mm"
parts="1:10 Scale Wheel : 1x","5x10x4mm Bearing : 2x","M5x30mm Screw : 1x", "M3x20 Screw : 3x"
dependencies="110101","110201","110301","GB01"
associated="GW01","D110101","D110201","A310001"
type="Assembly"
tags="Starter"
image="/icon.jpg"
extra images="./public/store/110101/icon.png","./public/store/110201/icon.png", "./public/store/110301/icon.png"
links="More;"