title="Noahs Kit or something"
description="Whatever description, lorem ipsum"
estimated cost="Cost - It aint free"
figures="Figure 1 : Its","Figure 2 : Something"
parts="Part 1 : Part","Part 2 : Something"
dependencies="GK01"
associated="GK01"
type="Kit"
tags="Starter"
image="/icon.jpg"
extra images="./public/images/logo_1.png","./public/images/logo_1.png","./public/images/logo_1.png"
links="More;","Buy;https://google.com/"