title="Starter Car Assembly"
description="The parts you need to make or buy to build your entire car."
estimated cost="Estimated Cost - $236.49 Before Filament"
figures="Wheel Hex Size : 12mm"
parts="Front Wheel Assembly : 2x","Rear Wheel Assembly : 1x","Battery : 1x", "ESC : 1x","Transmitter : 1x","Motor : 1x"
dependencies="A210001", "A110001", "D310101", "D310201"
associated="GW01"
type="Assembly"
tags="Starter"
image="/icon.jpg"
extra images="./public/store/A110001/icon.jpg","/images/image1.jpg","/images/image2.jpg","/images/image3.jpg","./public/store/A210001/icon.jpg"
links="More;"