title="Driveshaft Gear"
description="The Part that engages with the motor's pinion gear to drive the wheels."
statistics="Axel Size : 1/8 Square Bar Stock"
associated="210301"
dependencies="210101","210301"
type="3D Printed File"
tags=".STL"
image="/icon.png"
links="More;"
downloads=".STL;%tooltip_stl%"