title="Rear Bracket"
description="The part that connects the motor and the rear axel together."
figures="Axel Size : 1/8 Square Bar Stock"
associated="210301"
dependencies="210201","210301"
type="3D Printed File"
tags=".STL"
image="/icon.png"
links="More;"
downloads=".STL;%tooltip_stl%  1.79MB⊳05-02-2023"