title="Front Steering"
description="The part that mounts into the inside of the wheel and has bearings so the wheel can spin freely. This is only for one side of the front steering<-.> for two sides double every part."
estimated cost="Estimated Cost - $30"
figures="Wheel Hex Size : 12mm"
parts="1:10 Scale Wheel : 1x","5x10x4mm Bearing : 2x","M5x30 Screw : 1x", "M3x20 Screw : 3x"
dependencies="110101","110201","110301","110101D"
associated="110201D","110301D","110401D"
type="Assembly"
tags="Starter"
image="/icon.jpg"
extra images="./public/store/110101/icon.png","./public/store/110201/icon.png", "./public/store/110301/icon.png"
links="More;"